.row
  .col-sm-8.col-sm-offset-1
    %h1 Sign up
    = form_for(resource, :as => resource_name,  |
      :url => registration_path(resource_name), |
      :html => { :role => "form" }) do |f|      |
      = devise_error_messages!
      .form-group
        = f.label :first_name
        .row
          .col-sm-6
            = f.text_field :first_name, class: "form-control"
      .form-group
        = f.label :last_name
        .row
          .col-sm-6
            = f.text_field :last_name, class: "form-control"
      .form-group
        = f.label :email
        .row
          .col-sm-6
            = f.email_field :email, class: "form-control"
      .form-group
        .row
          .col-sm-6
            = f.label :password
            = f.password_field :password, class: "form-control"
      .form-group
        .row
          .col-sm-6
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: "form-control"
      .form-group
        .row
          .col-sm-6
            = f.label :address
            = f.text_field :address, class: "form-control"
      .form-group
        .row
          .col-sm-6
            = f.label :languages
            = f.select(:language_ids, Language.all.collect {|p| [ p.name, p.id ] }, 
                                           {}, 
                                           { multiple: true, size: 5, class: "form-control" })
      .row
        .col-sm-6
          = f.submit "Sign up", class: "btn btn-primary"
    = render "devise/shared/links"
