.form-group
  = f.label :title
  = f.text_field :title, class: 'form-control'
.form-group
  = f.label :description
  = f.text_area :description, rows: "10", class: 'form-control'
.form-group
  = f.label :address
  = f.text_field :address, class: 'form-control'
.form-group
  = f.label :time
  %div
    = f.text_field :time, class: 'form-control datetimepicker'
.form-group
  = f.label :language
  = f.collection_select(:language_id, Language.all, :id, :name, {}, prompt: false, class: "form-control")
